@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

.NavBarBody {
    //background-color: #FFFFFF;
    background-color: #182B49;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    overflow: paged-x;
}

.NavBarLogo {
    height: 100%;
    float: left;
    margin-left: 7%;
}

.NavBarMenu {
    display: flex;
}

.button-container {
    float: left;
    display: flex;
}
.search-container {
    float: right;
}

.NavBarMenuButton {
    margin-right: 30px;
}

.NavBarMenuButtonTxt {
    color: white;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 40px;
}
