@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

.NavBarBody {
    //background-color: #FFFFFF;
    height: 25vh;
    width: 100vw;
    background-image: url('../../resources/NavBarBKGND.png');
    background-size: 112vw;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
}

.NavBarLogoBox {
    background-image: url('../../resources/NavBarLogoBKGND.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 2vw;
    //background-color: #09d3ac;
}

.NavBarLogo {
    position: fixed;
    top: 0.5vw;
    left: 4.5vw;
    height: 23vh;
    width: auto;
}

.NavBarMenu {
    background: #09d3ac;
    float: right;
    display: flex;
}

.NavBarMenuButton {
    background: red;
    margin-right: 30px;
}

.NavBarMenuButtonTxt {
    color: white;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 40px;
}
