@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.NavBarBody {
    //background-color: #FFFFFF;
    background-color: #182B49;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    overflow: hidden;
    z-index: 100;
}

.NavBarLogo {
    height: 100%;
    float: left;
    margin-left: 5%;
}

.NavBarMenu {
    display: flex;
    width: 90%;
}

.button-container {
    float: left;
    display: flex;
    width: 70%
}

.NavBarMenuButtonContainer {
    margin: 30px 5px 0 15px;
}

.NavBarMenuButton {
    color: white;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 40px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-self: center;
    position: relative;
    outline: none;
}

.NavBarMenuButton:hover, .NavBarMenuButton:active {
    color: #ffcd00;
    letter-spacing: 1px;
    transition: all 280ms ease-in-out;
}

.NavBarMenuButton:after,
.NavBarMenuButton:before {
    backface-visibility: hidden;
    border: 1px solid #182b49;
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.NavBarMenuButton:hover:after,
.NavBarMenuButton:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.NavBarMenuButton:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}

.NavBarLogger {
    margin-top: 5px;
    position: absolute;
    right: 60px;
    display: flex;
}

.logger-container {
    display: flex;
    height: 40px;
    width: 300px;
    margin-top: 5px;
}

.logger-container .loggerTxt {
    color: white;
    font-family:'Work Sans', sans-serif;
    font-size: 18px;
    width: 150px;
    height: 30px;
    text-align: right;
    margin-top: 9px;
}

.logger-input {
    transition: 300ms;
    margin-left: 5px;
    margin-top: 7px;
    background: transparent;
    height: 20px;
    width: 150px;
    padding-left: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: cornsilk;
    font-size: 15px;
    outline: none;
}

.logger-input:focus {
    width: 200px;
    transition: 300ms;
    border-bottom-color: #ffcd00;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.logger-input:not(:placeholder-shown):not(:focus) {
    width: 200px;
    transition: 300ms;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.logger-button-container {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.logger-button {
    margin: 5px 0 0 5px;
    width: 80px;
    font-family:'Work Sans', sans-serif;
    font-size: 15px;
    height: 37px;
    border-radius: 40px;
    border: none;
    background: white;
}

.logger-button:hover {
    background: #ffcd00;
    transition-duration: 1000ms;
    font-size: 20px;
    text-align: center;
}

.logger-button-2 {
    margin: 5px 0 0 5px;
    width: 90px;
    font-family:'Work Sans', sans-serif;
    font-size: 15px;
    height: 37px;
    border-radius: 40px;
    border: none;
    background: white;
}

.logger-button-2:hover {
    background: #ffcd00;
    transition-duration: 1000ms;
    font-size: 17px;
    text-align: center;
}

.logged-in-container {
    float: right;
    display: flex;
    margin-top: 25px;
    height: 50px;
}

.logged-in-container .loggerTxt {
    color: white;
}

.logged-in-container .logger-button {
    background: transparent;
    border: none;
    color: white;
    text-decoration: underline;
}

.logged-in-container .logger-button:hover{
    color: #ffcd00;
}

.search-container {
    float: right;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 25px;
}

.search-bar {
    height: 50px;
    display: flex;
}

.search-bar .search-input-box {
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 20px;
    height: inherit;
}

.search-bar .search-button {
    background-color: transparent;
    border: none;
    width: 50px;
    height: inherit;
    background-image: url('../../resources/search_icon.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.search-bar .search-button .search-icon {
    background-color: transparent;
    width: inherit;
    height: inherit;
}