.App {
  text-align: center;
  min-height: 100vh;
}

.background {
  position: fixed;
  background-image: url('./resources/WebsiteBKGND.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.App-logo {
  height: 40vmin;
}

.App-header {
//background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-events{
  display:flex;
  flex-direction: row;
}

.App-eventLayout{
  max-width: 80%;
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.App-mainSquare{
  max-width: 70%;
  max-height: 80%;
  display:flex;
  flex-direction: row;
}

.App-mainLayout{
  max-width: 100%;
  position: relative;
  float:none;
  margin-left: 7%;
  display: block;
  margin-top: 2%;
}

.App-mainPageLayout{
    max-width: 1000px;
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.events_content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}